body{
    background-image: url(https://unsplash.it/1920/1080/?random);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}